/* --------------CSS RESET---------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
a:visited, a:active, a{
    color:#6d4d02;
    text-decoration:none;
}
a:hover{
    color:#645743;
    text-decoration:underline dotted;
}

br{
    clear: both;
}

body{
    
}
#main{
    background-image: url(../img/bg_main.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
.wrapper{
    height: 100%;
    width: 100%;
}
.cell{
    height: 40%;
}
#navigContainer{
    min-height:  50px;
    width: 100%;
    height: initial;
    background-color: rgba(198, 177, 144, 0.84);
    border-top: 2px solid #afa89d;
    border-bottom: 2px solid #afa89d;
}

#navigBar{
    height: auto;
}
#navigBar > ul {
    list-style-type: none;
    min-height: 50px;
    margin: 0;
    padding: 0;
}
    #navigBar > ul > li {
        width: 180px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
    }

.contentContainer{
    display: block;
    position: relative;
    min-height: inherit;
    
}
.contentContainer #fullCell {
    min-height: inherit;
}

.contentContainer > div{
    background: rgba(214,214,214,0.92);
    box-shadow: 1px 1px 8px #292929;
}

#home{
    background: url("../img/logo.png") no-repeat center !important;
    height: 60px;
}

.twoCol{
    list-style-type: none;
}
.twoCol > li > div{
    position: relative;
    padding: 15px 10px;
}
.list li{
    padding: 10px 20px;
    font-family: Arial;
    font-weight: 100;
    font-size: 16px;
    list-style-type: none;
    border-left:15px solid brown;
}
.list > li:nth-child(odd){
    background-color: #bfaa8b;
}
.list > li:nth-child(even){
    background-color: #e4dccf;
}

.contactBox{
    padding: 0 !important;
}

#footer{
    background-color: rgba(198, 177, 144, 0.84);
    border-top: 2px solid #afa89d;
    min-height: 60px;
    padding: 5px 10px;
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
/* ------------------FONTS ----------------------*/
h1{
    font-size: 24px;
    font-weight: bold;
}
h3{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
h4{
    font-size: 32px;
    text-align: center;
    font-family: Verdana;
    font-weight: bold;
}

/* ----------------SCREEN SIZE CASES -------------------*/
/* MOBILE PORTRAIT */
@media only screen and (min-width: 320px) {
	body {
		
	}
    .cell{
        height: 0;
    }
    #navigBar > ul > li {
        display: table;
        width: 100%;
        height: 60px;
    }
    #navigBar > ul > li > div{
        display: table-cell;
        vertical-align: middle;
        height: 60px;
        width: 100%;
        background-position: center;
        color: #452500;
    }
    #navigBar > ul > li > div:hover{
        color: #ffe5c8;
        cursor: pointer;
        background: url("../img/btn_over.png") center no-repeat;
    }
    .wrapper {
        min-height: 0;
    }

    .contactBox p{
        padding: 5px 5px;
    }
}

/* MOBILE LANDSCAPE */
@media only screen and (min-width: 480px) {
	body {
		
	}
}

/* SMALL TABLET */
@media only screen and (min-width: 600px) {
	body {
		
	}

}

/* TABLET/NETBOOK */
@media only screen and (min-width: 768px) { 
	body {
		
	}

.wrapper{
    height: 100%;
    width: 100%;
    min-height: 480px;
    display: block;
}
.contentContainer{
    padding: 40px 55px;
}
.cell{
    height: 40%;
}
#navigContainer{
    height: 20%;
}
#navigBar{
    min-height: 50px;
    margin: 0 auto;
    height: 100%;
    display: table;
}
#navigBar > ul{
    display: table-cell;
    vertical-align: middle;
}
    #navigBar > ul > li {
        float:left;
        display: table;
        height: 60px;
        width:180px;
    }
    #navigBar > ul > li > div{
        display: table-cell;
        vertical-align: middle;
    }
    .twoCol{
        padding:120px 0;
}
    .twoCol > li{
        float: left;
        width: 50%;
    }
    .twoCol > li img{
        margin: 0 auto;
        display: block;
    }
    .twoCol > li > div{
        position: relative;
        padding: 85px 70px;
    }
    .contactBox{
        max-width: 480px;
        margin: 0 auto;
        min-height: 0 !important;
    }
    .contactBox p{
        padding: 15px 10px;
    }
    p {
        font-size: 18px;
    }
}

/* LANDSCAPE TABLET/NETBOOK/LAPTOP */
@media only screen and (min-width: 1024px) { 
body {

}


}

@media only screen and (min-width: 1280px) { 
/* DESKTOP */
		body {

	}

}

